
@{
    ViewBag.Title = "TakeAway";
}

<h2>Buy!</h2>
<form action="/Home/HowMany">
     This product cost 10 EOC each how many do you want?
    <input type="number" name="num" />
    <input type="submit" value="Confirm" />
</form>
